<div *ngIf="bolResponse == null || bolResponse.objects?.length == 0" class="row">
  <div class="empty-bol-list flex-center"><strong>No available BOLs.</strong></div>
</div>
<div *ngIf="bolResponse !== null && bolResponse.objects?.length > 0" class="row center-on-small-only">
  <div *ngFor="let bol of bolResponse.objects" class="col-md-6 col-sm-12">
    <div class="card card-cascade narrower">
        <div class="view gradient-card-header blue-gradient">
          <h2 class="h2-responsive">{{bol.buyer}}</h2>
          <p>{{bol.vendor}}</p>
          <div class="card-body text-center">
            <p class="card-text">
                <input type="text" id="form11" class="form-control"/>
                <label for="form11" class="disabled">Input barcode</label>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
