<div *ngIf="bolResponse == null || bolResponse.objects?.length == 0" class="row">
  <div class="empty-bol-list flex-center"><strong>No available BOLs.</strong></div>
</div>
<div *ngIf="bolResponse !== null && bolResponse.objects?.length > 0" class="row">
  <div *ngFor="let bol of bolResponse.objects" class="col-md-6 col-sm-12">
    <div class="card card-cascade narrower">
        <div class="view gradient-card-header blue-gradient">
          <div class="card-body">
              <h2 class="h2-responsive">{{bol.name}}</h2>
              <p><strong>Seller: </strong>{{bol.seller}}</p>
              <p><strong>Buyer: </strong>{{bol.buyer}}</p>
            <div class="list-group">
                <a *ngFor="let case of bol.cases" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{case.caseName}}</h5>
                    <small class="text-muted">{{case.minTemp}} - {{ case.maxTemp }}</small>
                  </div>
                  <p class="mb-1">{{case.contract}}</p>
                  <small class="text-muted">{{case.caseId}}</small>
                </a>
            </div>
            <div class="card-text">
              <form class="mt-4" (keydown.enter)="$event.preventDefault()">
                <div class="md-form">
                  <i class="fa fa-barcode prefix"></i>
                  <input #barcode type="text" id="orangeForm-name" class="form-control" mdbActive (keyup.enter)="onEnter(barcode.value,bol)" />
                  <label for="orangeForm-name">Case barcode</label>
                </div>
              </form>
              <p>{{message}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
