<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar bg-primary">
  <logo><a class="navbar-brand" href="#">{{title}}</a></logo>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link active waves-light" href="#" mdbRippleRadius>BOLs <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link waves-light" href="#" mdbRippleRadius>Features</a>
      <a class="nav-item nav-link waves-light" href="#" mdbRippleRadius>Pricing</a>
    </div>
  </links>
</mdb-navbar>
